<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} Bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% comment %} Bootstrap {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TODO App{% endblock %}</title>
</head>
<body>
    {% include 'accounts/header.html' %}
    
    <div class="content container flex align-items-center justify-content-center">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
                
            {% endfor %} 
        {% endif %}


            {% block content %}
            {% endblock %}
    </div>

    {% include 'accounts/footer.html' %}
</body>
</html>
